
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="view-transition" content="same-origin" />

    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/main.js" defer></script>
    <title>Demo title here</title>
    <link href="/style.css" rel="stylesheet" />
  </head>

  <body class="bodyy">
    <header>
      <nav class="navigation">
        <ul class="nav-list">
            <li >
                <a routerLink="/siege" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Siege</span></a>
            </li>
            <li >
                <a routerLink="/direction" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">direction</span></a>
            </li>
            <li >
                <a routerLink="/immeuble" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Immeuble</span></a>       
            </li>
            <li >
                <a routerLink="/agtunisnord" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Ag. DR Tunis</span></a>     
            </li>
            <li >
                <a routerLink="/agbizerte" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Ag. DR Bizerte</span></a>    
            </li>
            <li >
                <a routerLink="/aggafsa" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Ag.DR gafsa</span></a>   
            </li>
            <li >
                <a routerLink="/agsousse" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Ag. DR sousse</span></a>     
            </li>
            <li >
                <a routerLink="/agmonastir" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Ag. DR monastir</span></a>   
            </li>
            <li >
                <a routerLink="/agsfax" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Ag. DR sfax</span></a>   
            </li>
            <li >
                <a routerLink="/agmedenine" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Ag. DR medenine</span></a>     
            </li>
            <li>
                <a routerLink="/agjendouba" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"><span class="icon">Ag. DR jendouba</span></a>    
            </li>
        </ul>
      </nav>
    </header>

  </body>
</html>
