<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <a class="a2 mr-5 hover:text-white" routerLink="/siegeadd" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
    <span></span> 
 
    SIEGE
 
   </a>
   <a class="a2 mr-5 hover:text-white" routerLink="/immeubleadd" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
    <span></span> 
 
    IMMEUBLE
 
   </a>
   <a class="a2 mr-5 hover:text-white" routerLink="/directionadd" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
    <span></span> 
 
    DIRECTION
 
   </a>

</body>
</html>