<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a class="a1 mr-5 hover:text-white" routerLink="/employe" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
  <span></span> 
  Enter Employee
</a>

<a class="a2 mr-5 hover:text-white" routerLink="/siege" routerLinkActive="active" 
  [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">
    <span></span> 
 
    Search Employee
 
   </a>
</body>
</html>